{% extends "base.html" %}
{% load bootstrap3 %}
<meta charset="utf-8">
{% block contenido %}
	<div class="page-wrapper">
		<div class='row'>
			<div class='col col-lg-12'>
				<h1 class="page-header">Análisis</h1>

			</div>

		</div>
		<div class ="row" >
			<div class='col col-md-12'>
				<div id="viz" style ="height:1500px; align:center;margin:0px;">
					
				
				</div>
				<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
				
			</div>
			
		</div>
		
	
												
		
		<!--
		<div class= "row">
					
				
		</div>	
		-->
	</div>
	<script>
		var sample_data ={{nodos|safe}};
		
		var connections = {{aristas|safe}};
		// instantiate d3plus
		var visualization = d3plus.viz()
		.container("#viz") // container DIV to hold the visualization
		.type("network") // visualization type
		.data(sample_data) // sample dataset to attach to nodes
		//.nodes(positions) // x and y position of nodes
		.edges(connections) // list of node connections
		.size("size") // key to size the nodes
		.id("id") // key for which our data is unique on
		.text("name")
		.draw() // finally, draw the visualization!
	</script>


{%endblock%}
