{% extends "base.html" %}
{% load bootstrap3 %}

{% block contenido %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gestión de Proyectos</h1>
        </div>
        <!-- /.col-lg-12 -->
        
        <div class="col-lg-6 col-md-6">
            <a href="#">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <br>
                        <div class="col-xs-3">
                                <i class="fa fa-plus-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 ">
                               <h1>Nuevo Proyecto</h1>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
            </a>
        </div>
        
        
        <div class="col-lg-6 col-md-6">
            <a href="#">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <br>
                        <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 ">
                               <h1>Mis Proyectos</h1>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
            </a>
        </div>
        
    </div>
    <div class="row">
        
        <!-- /.col-lg-12 -->
        
        <div class="col-lg-6 col-md-6">
            <a href="#">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <br>
                        <div class="col-xs-3">
                                <i class="fa fa-plus-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 ">
                               <h1>Nuevo Proyecto</h1>
                        </div>
                        <br>
                    </div>
                </div>
            
            </div>
            </a>
        </div>
        
        
        <div class="col-lg-6 col-md-6">
            <a href="#">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <br>
                        <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 ">
                               <h1>Mis Proyectos</h1>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
            </a>
        </div>
        
    </div>
{% endblock%}